body {
    background-color: antiquewhite;
    color: blue;
}
h2 {
    color: darkmagenta;
    font-size: 50px;
}
h3 {
    color: darkgreen;
    font-size: 60px;
}
p {
    color: blue;
    font-size: 25px;
}